$font-stack:              'helvetica neue', sans-serif;
$background-color:        #ffc600;
$button-color:            #3b99fc;
$button-border-color:     #2980B9;
$todo-border-color:       #F1F1F1;
$todo-checked-color:      #999999;
$checkbox-divider-color:  #D1E2FF;

html {
  font-family: $font-stack;
  font-size: 20px;
  font-weight: 200;
  background: $background-color;
}

.todo-input-form {
  max-width: 400px;
  min-height:50px;
  margin: 0px auto;

  .todo-input-form-group {
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;

    input[type="text"] {
      width: 330px;
      height: 20px;
      border-radius: 5px;
      font-size: 1em;
      padding: 15px;
      border: none;

      &:focus {
        outline: 0;
      }
    }

    button {
      margin-left: 10px;
      height: 48px;
      width: 48px;
      cursor: pointer;
      border-radius: 25px;
      font-size: 1em;
      padding: 0;
      border: none;
      color: white;
      background: $button-color;
      border-bottom: 5px solid $button-border-color;
      transition: all 0.1s;

      &:focus {
        text-decoration: none;
        outline: 0;
      }

      &:active {
        transform: translate(0px,5px);
        -webkit-transform: translate(0px,5px);
        border-bottom: 1px solid;
      }

    }
  }
}

.todos-list {
  list-style-type: none;
  padding: 0;

  & li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  & li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  & li:last-child > .todo-item {
    border-bottom: none;
  }
}

.todo {
  max-width:  400px;
  margin: 0px auto;
  background: white;
  border-radius: 0px;
  box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}

.todo-item {
  display:flex;
  align-items:center;
  min-height: 40px;
  border-bottom: 1px solid $todo-border-color;

  input[type="checkbox"] {
    margin: 0 20px 0 20px;
    cursor: pointer;
    transform: scale(1.75);
    flex-shrink: 0;
  }

  input:checked + p {
    color: $todo-checked-color;
    text-decoration: line-through;
  }


  p {
    flex-grow: 1;
    margin: 0;
    padding: 10px;
    border-left: 1px solid $checkbox-divider-color;
  }

  button {
    margin: 0 10px 0 10px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }

}

.notfound {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  font-size: 3rem;
}
