<!DOCTYPE html>
<html>
<head>
    <title>Redux Full Stack</title>
    <style><%- styles %></style>
</head>
<body>
    <div id="app"><%- html %></div>
    <div id="devtools"></div>
    <script>window.__INITIAL_STATE__ = <%- initialState %>;</script>
    <script src="/bundle.js"></script>
</body>
</html>